#tabcontent a {
 overflow: hidden; /* for text-indent of firefox */
}

#table-wrapper { overflow-x: auto; overflow-y: hidden }
#elements { border: 1px solid #d7d7d7; border-collapse: collapse }

#elements .ui-icon {
 display: inline-block;
 vertical-align: middle;
 cursor: pointer;
 width: 16px;
 height: 16px;
 line-height: 16px;
 padding: 0;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 user-select: none;
}

#elements .editable { position: relative }
#elements .editable input[type=text] {
 font-family: inherit;
 font-size: 100%;
 width: 100%;
 padding: 0.2em 4px;
 border: 0;
 margin: 0;
 box-sizing: border-box;
}
#elements .editable input[type=text]:focus {
 outline: 2px solid #ace;
}
#elements #status-editor-1 .editable input[type=text] { text-align: center }
#elements .editable a {
 position: absolute;
 display: block;
 height: 100%;
 line-height: 1.6;
 padding: 0 2px;
 top: 0;
 right: 0;
}
#elements .ui-widget { font-size: 100% }
#elements .editable input,
#elements .editable a,
#elements .editable select { display: none }
#elements .editable span { padding: 0 4px }
#elements th {
 border-style: solid;
 border-width: 1px;
 border-color: #d7d7d7 #d7d7d7 #999999;
 background: #f7f7f0;
 white-space: nowrap;
}
#elements tr#status-editor-2 th { min-width: 60px }
#elements th.editable { padding-bottom: 2px }
#elements tfoot { display: none }
#elements td {
 border: 1px dotted #dddddd;
 white-space: nowrap;
}
#elements tbody tr .col-before-status { text-align: center }
#elements tbody tr .col-before-status .ui-icon { visibility: hidden }
#elements tbody tr .status-checked .ui-icon { visibility: visible }
#elements tbody tr:hover { background: #cff }
#elements tbody tr.current-line { background: #9cf }
#elements tbody tr:hover td.editable:hover,
#elements tbody tr:hover td.before-status:hover { cursor: pointer }
#elements thead tr th.editable:hover {
 cursor: pointer;
 background: #eeeeee;
}
#elements th a { padding: 1px }
#elements th, #elements td { padding: 0 }

div.ui-multiselect-menu ul { overflow-x: hidden }
div.ui-multiselect-menu ul li label { position: relative }
div.ui-multiselect-menu ul li label div.sorter {
 position: absolute;
 visibility: hidden;
 width: 32px;
 height: 16px;
 white-space: nowrap;
 top: 3px;
 right: 3px;
}
div.ui-multiselect-menu ul li label.ui-state-hover div.sorter {
 visibility: visible;
}
div.ui-multiselect-menu ul li div.sorter .ui-icon {
 cursor: pointer;
 background-repeat: no-repeat;
}
div.ui-multiselect-menu ul li div.sorter .ui-icon:hover {
 background-color: #ffffff;
 background-color: rgba(255,255,255,0.9);
}
table#elements .col-line-select { padding: 0 1px }
table#elements .col-line-select .ui-icon { visibility: hidden }
table#elements .current-line .col-line-select .ui-icon { visibility: visible }
table#elements thead th.col-action { width: 140px; min-width: 140px }
table#elements thead th.col-logname { width: 140px; min-width: 140px }
table#elements thead th.col-operations { width: 180px }
table#elements thead th.col-permissions { width: 180px }
table#elements thead th.col-next-status { width: 120px }
table#elements tbody tr button { background: #fff; border: 1px solid #fff }
table#elements tbody tr.current-line button,
table#elements tbody tr.current-line:hover button {
 background: #9cf;
 border: 1px solid #9cf;
}
table#elements tbody tr:hover button {
 background: #cff;
 border: 1px solid #cff;
}
#elements #add-action { border: none; background-color: transparent }
#elements #add-action:hover { background-color: #ffc }
#elements #add-status { border: none; background-color: transparent }
#elements #add-status:hover { background-color: #ffc }
#elements .left-status:hover { background-color: #ffc }
#elements .right-status:hover { background-color: #ffc }
#elements .del-status:hover { background-color: #ffc }
#dummy-form { padding: 0 }
#dummy-form fieldset {
 display: inline-block;
 *display: inline;
 *zoom: 1;
 padding: 0.5em;
 margin-right: 1em;
}
#main-form { clear: both }
#main-form p { display: none }
fieldset#chart-area { padding: 0 1em }
#text-data { width: 640px }
